.product-image{
 width:80vw;
 height:80vw;
 object-fit: cover;
    background-color: black;
    padding: 0.5rem;
    border:1px solid white;
  

}

.buttons-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container:first-child{
    margin-bottom: 2rem;
}

.product-container{
    text-align: left;
margin-bottom: 2rem;
    
   
}

.product-container h2{
    margin-top: 0rem;
    font-size: 1.75rem;
    width: fit-content;
    /* background-color: red; */
    padding:0;
}

.strong-price{
    transform: translateY(-1rem);
}

@media screen and (min-width:655px){
    .pr
}

